* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/pexels-francesco-ungaro-998641.jpg);
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
}

nav {
  padding: 1rem 2rem;
  background-color: #0d0d0d99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.space-container{
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.3s;
}

.navbar-menu li:hover {
  color: #7A9FBF;
}

.boton {
  background-color: #9e8fad;
  color: #eceef4;
  padding: 6px 8px;
  border: none;
  border-radius: 50px;
}

.contenedor-sobremi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-titulo {
  padding: 20px;
  margin-left: 60px;
  color: #eceef4;
}

.saturn-widget {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  /* centrar si quieres */
}

.saturn-planet {
  width: 150px;
  height: 150px;
  background: radial-gradient(circle at 40% 40%, #f5c273, #c38b4e);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 50px #f5c273;
}

.saturn-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 40px;
  border: 2px solid #aaa;
  transform: translate(-50%, -50%) rotate(15deg);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.1);
}

.ring-icon {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  background: rgba(100, 100, 100, 0.3);
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 14px;
  transition: transform 0.3s;
}

.ring-icon:hover {
  transform: scale(1.2);
}

.social-icon {
  color: white;
  font-size: 1.5rem;
  margin-top: 12px;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.social-icon:hover {
  transform: scale(1.3);
  text-shadow: 0 0 20px rgba(224, 189, 113, 0.8);
}